infrastructure/n8n/workflows/analyze.json
{
    "name": "EduPilot Analysis",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "analyze-performance",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "modelId": "llama3",
                "promptType": "define",
                "text": "Analyze this student data and return JSON with riskScore (0-100), gradeTrend (UP/DOWN), strengths (array), weaknesses (array), recommendations (array), summary. Data: {{$json.body}}",
                "options": {
                    "jsonResponse": true
                }
            },
            "name": "Ollama Analysis",
            "type": "n8n-nodes-base.ollamaChatModel",
            "typeVersion": 1,
            "position": [
                660,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{$json.response}}",
                "options": {}
            },
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                860,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Ollama Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ollama Analysis": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}